src/main/mule/mule-best-practice-template.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
  <flow name="hello-world-flow">
    <http:listener doc:name="HTTP Listener" config-ref="HTTP_Listener_config" path="/hello" />
    <set-payload value='#[output application/json --- {"message": "hello world"}]' doc:name="Set Payload" />
  </flow>
</mule>